.sections-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image-holder {
  width: 100%;
}

.donation-main-information {
  width: 100%;
}

.donation-image {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.donation-title {
  font-size: 1.5em;
}

.time-left {
  font-size: 1.3em;
}

.amount-flex {
  display: flex;
  gap: 2rem;
}

.donate-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 2rem;
}

.donate-button {
  box-shadow: 4px 4px 8px 0px #00000040;
  border: none;
  width: max-content;
  border-radius: 2rem;
  font-size: 1em;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  background: #614fb9;
  color: white;
}

.side-by-side {
  display: flex;
  gap: 1.5rem;
}

.read-buttons {
  box-shadow: 4px 4px 8px 0px #00000040;
  border: none;
  border-radius: 2rem;
  font-size: 0.8em;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  background-color: white;
}

.donation-details {
  width: 90%;
  margin-block: 2rem;
}

.donation-bottom{
    width: 90%;
}

.about-donation-heading {
  color: #614fb9;
  font-size: 1.6em;
}

.donation-about {
  font-size: 1.2em;
}

@media only screen and (min-width: 480px) {
  .section {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 760px) {
  .section {
    flex-direction: row;
  }
  .image-holder {
    width: 50%;
  }

  .donation-main-information {
    width: 45%;
  }

  .donate-button {
    width: 100%;
    font-size: 1.5em;
  }

  .donation-details {
    width: 50%;
  }

  .read-buttons {
    font-size: 1em;
  }

  .donation-title {
    font-size: 1.7em;
  }

  .donation-image {
    max-height: 40rem;
  }

  .time-left {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1280px) {
  .donation-title {
    font-size: 2.5em;
  }

  .donate-button {
    width: 40%;
    font-size: 1.7em;
  }

  .read-buttons {
    font-size: 1.5em;
  }

  .time-left {
    font-size: 2em;
  }
}
