*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #e9f2ff;
  --text-color: #211b3e;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

body {
  @apply bg-background;
}

.text-center {
  text-align: center;
}

.text-xl {
  font-size: medium;
}

.text-2xl {
  font-size: large;
}

.text-3xl {
  font-size: x-large;
}

.font-bold {
  font-weight: bold;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}

ul[class],
ol[class] {
  padding-left: 0;
}

.italic {
  font-style: italic;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #e9f2ff;
  font-family: "Poppins", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
